<p>body works!</p>
 bỏ hình khi đăng nhập thành công
<img class="rounded-circle" width="40px" height="40px" [src]="urlImg">
<div *ngIf="id" >xin chào bạn user {{id}}</div>
<div *ngIf="username" >xin chào bạn user {{username}}</div>
<div *ngIf="email" >email {{email}}</div>
<div *ngIf="name" > employee name {{name}}</div>
<div *ngIf="phone" > employee phone {{phone}}</div>
<div *ngIf="address" > employee address {{address}}</div>
<div *ngIf="gender" > employee gender {{gender}}</div>
<div *ngIf="dateOfBirth" > employee birth day {{dateOfBirth}}</div>

