<div class="modal-dialog">
  <div class="modal-content border-white">
    <div class="modal-header border-white">
      <p class="modal-title fs-4 text-center text-success">Bạn có muốn xóa mặt bằng không?</p>
    </div>
    <div class="modal-body fs-6 fw-bold text-danger">
      <table class="table border-white">
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mã mặt bằng:</td>
          <td>{{spaceList.spaceCode}}</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Loại mặt bằng:</td>
          <td>{{spaceList.spaceTypeName}}</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Trạng thái mặt bằng:</td>
          <td>{{spaceList.spaceStatusName}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer text-black border-white">
      <button type="button" class="btn btn-warning " (click)="onNoClick()">Hủy</button>
      <button type="button" class="btn btn-danger" (click)="deleteSpaceById()">Xóa</button>
    </div>
  </div>
</div>
