.font-google-1 {
  font-family: 'Work Sans', cursive;
}

.font-google-2 {
  font-family: 'Dancing Script', cursive;
  color: #d6b915;
  font-size: 60px
}

.gradient-custom {
  /* fallback for old browsers */
  background: #a1764a;

  /*!* Chrome 10-25, Safari 5.1-6 *!*/
  /*background: -webkit-linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));*/

  /*!* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
  /*background: linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1))*/
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
}

.card-registration .select-arrow {
  top: 13px;
}

.error {
  color: red;
}



.button-radius {
  border-radius: 5px;
}

.content-container {
  padding-left: 220px;
}

.edit-button {
  background-color: #d6b915;
}

.delete-button {
  background-color: #de6666;
  color: white;
}

.footer {
  background-color: #3d3d3d;
  color: white;
}

.footer .container .row .contact {
  text-align: left;
}

.footer .container .row .contact a svg {
  color: #eeb043;
  border-style: solid;
  border-color: white;
}
