.font-google-1 {
  font-family: 'Work Sans', cursive;
}
.font-google-2 {
  font-family: 'Dancing Script', cursive;
  color: #d6b915;
  font-size: 60px
}
.gradient-custom {
  /* fallback for old browsers */
  background: #a1764a;

  /*/* Chrome 10-25, Safari 5.1-6 */
  /*background: -webkit-linear-gradient(to bottom right, rgb(161, 154, 63), rgb(161, 81, 34));*/

  /*/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /*background: linear-gradient(to bottom right, rgb(177, 156, 80), rgb(198, 111, 29))*/
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
}
.card-registration .select-arrow {
  top: 13px;
}

.error{
  color: red;
}
.add-button{
  background-color: #d17d0f;
  color: white;
}
.button-radius{
  border-radius: 5px;
}
.add-button:hover{
  border: 1px;
  border-color: black;
}
.reset-button:hover{
  border: 1px;
  border-color: black;
}
.header{
  margin: 1px;
  background-color: #3f3836;
  font-size: 16px;
  color: white;
}
.header .row .col-6 svg{
  color: #eeb043;
}
.menu{
  text-align: center;
  margin: 1px;
}
.menu .row .link{
  padding-top: 25px;
  font-weight: bold;
  font-size: 15px;
}
.menu .row .link a:hover{
  color:#f9ca24;
}
.menu .row .link a{
  text-decoration: none
}
.footer{
  background-color: #3d3d3d;
  color: white;
}
.footer .container .row .contact{
  text-align: left;
}
.footer .container .row .contact a svg{
  color: #eeb043;
  border-style: solid ;
  border-color: white;
}
