<!DOCTYPE html>
<html lang="en">
<body>

<section class=" gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100 ">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0"  style="background-color:rgba(214,180,128,0.86)">
            <!--            <div class="row g-0" style="background-color:#ffb45d">-->
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">
                <div class="text-center">
                  <h4 class="mt-1 mb-5 pb-1"></h4>
                </div>
                <form [formGroup]="changePasswordForm">
                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example11">Nhập mật khẩu cũ <span
                      class="error">(*)</span></label>
                    <input type="password" id="form2Example11" class="form-control"
                           placeholder="Nhập mật khẩu cũ" formControlName="currentPassword"/>
                    <div style="color: red"

                         *ngIf="changePasswordForm.get('currentPassword').errors?.required && (changePasswordForm.get('currentPassword').dirty ||changePasswordForm.get('currentPassword').touched)">
                      Mật khẩu không được để trống
                    </div>

                    <div style="color: red"
                         *ngIf="changePasswordForm.get('currentPassword').errors?.maxlength && (changePasswordForm.get('currentPassword').dirty ||changePasswordForm.get('currentPassword').touched)">
                      Mật khẩu nhỏ hơn 10 ký tự
                    </div>
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example22">Nhập mật khẩu mới <span
                      class="error">(*)</span></label>
                    <input type="password" id="form2Example22" class="form-control"
                           placeholder="Nhập mật khẩu" formControlName="newPassword"/>
                    <div style="color: red"
                         *ngIf="changePasswordForm.get('newPassword').errors?.required && (changePasswordForm.get('newPassword').dirty ||changePasswordForm.get('newPassword').touched)">
                      Mật khẩu không được để trống
                    </div>

                    <div style="color: red"
                         *ngIf="changePasswordForm.get('newPassword').errors?.maxlength && (changePasswordForm.get('newPassword').dirty ||changePasswordForm.get('newPassword').touched)">
                      Mật khẩu nhỏ hơn 10 ký tự
                    </div>
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example22">Nhập lại mật khẩu <span
                      class="error">(*)</span></label>
                    <input type="password" id="form2Example23" class="form-control"
                           placeholder="Nhập mật khẩu" formControlName="confirmPassword"/>
                    <div style="color: red"
                         *ngIf="changePasswordForm.get('confirmPassword').errors?.required && (changePasswordForm.get('confirmPassword').dirty ||changePasswordForm.get('confirmPassword').touched)">
                      Mật khẩu không được để trống
                    </div>

                    <div style="color: red"
                         *ngIf="changePasswordForm.get('confirmPassword').errors?.maxlength && (changePasswordForm.get('confirmPassword').dirty ||changePasswordForm.get('confirmPassword').touched)">
                      Mật khẩu nhỏ hơn 10 ký tự
                    </div>
                    <div style="color: red" *ngIf="changePasswordForm.controls.confirmPassword.hasError('wrongPassword')">Mật khẩu chưa khớp nhau</div>
                  </div>

                  <div class="d-flex justify-content-start pt-3 mt-5">

                    <button  class="btn btn-block fa-lg  mb-3  rounded-pill button-color"
                            type="submit" (click)="edit(changePasswordForm.value,id)"  [disabled]="changePasswordForm.invalid">Đổi mật khẩu
                    </button>

                    &nbsp;
                    &nbsp;
                    <button class="btn btn-block fa-lg  mb-3  rounded-pill button-color" routerLink="/employee/list"

                            type="submit">Hủy
                    </button>
                  </div>
                </form>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="row align-items-center">
                <img class="px-3 py-4 p-md-5 mx-md- align-items-center4"
                     src="../../../../assets/image%20(3).png"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>
