<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <p class="modal-title fs-4 text-center text-success">Bạn có muốn xóa nhân viên</p>
    </div>
    <div class="modal-body fs-6 fw-bold text-danger">
      <table class="table">
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Tên: </td>
          <td>{{employee.employeeName}}</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Mã Nhân Viên: </td>
          <td>{{employee.employeeCode}}</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Email: </td>
          <td>{{employee.employeeEmail}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-warning" (click)=" onNoClick()">Hủy</button>
      <button type="button" class="btn btn-danger" (click)="deleteEmployee()">Xóa</button>
    </div>
  </div>
</div>
